/* yeah yeah I know I should use less or scss*/

#bigfuckingtext span:nth-child(2) {
    animation-delay: 0.2s;
}

#bigfuckingtext span:nth-child(3) {
    animation-delay: 0.4s;
}

#bigfuckingtext span:nth-child(4) {
    animation-delay: 0.6s;
}

#bigfuckingtext span:nth-child(5) {
    animation-delay: 0.8s;
}

#bigfuckingtext span:nth-child(6) {
    animation-delay: 1.0s;
}

#bigfuckingtext span:nth-child(7) {
    animation-delay: 1.2s;
}

#bigfuckingtext span:nth-child(8) {
    animation-delay: 1.4s;
}

#bigfuckingtext span:nth-child(9) {
    animation-delay: 1.6s;
}

#bigfuckingtext span:nth-child(10) {
    animation-delay: 1.8s;
}

#bigfuckingtext span:nth-child(11) {
    animation-delay: 2.0s;
}

#bigfuckingtext span:nth-child(12) {
    animation-delay: 2.2s;
}

#bigfuckingtext span:nth-child(13) {
    animation-delay: 2.4s;
}

#bigfuckingtext span:nth-child(14) {
    animation-delay: 2.6s;
}

#bigfuckingtext span:nth-child(15) {
    animation-delay: 2.8s;
}

#bigfuckingtext span:nth-child(16) {
    animation-delay: 3.0s;
}

#bigfuckingtext span:nth-child(17) {
    animation-delay: 3.2s;
}

#bigfuckingtext span:nth-child(18) {
    animation-delay: 3.4s;
}

#bigfuckingtext span:nth-child(19) {
    animation-delay: 3.6s;
}

#bigfuckingtext span:nth-child(20) {
    animation-delay: 3.8s;
}

#bigfuckingtext span:nth-child(21) {
    animation-delay: 4.0s;
}

#bigfuckingtext span:nth-child(22) {
    animation-delay: 4.2s;
}

#bigfuckingtext span:nth-child(23) {
    animation-delay: 4.4s;
}

#bigfuckingtext span:nth-child(24) {
    animation-delay: 4.6s;
}

#bigfuckingtext span:nth-child(25) {
    animation-delay: 4.8s;
}

#bigfuckingtext span:nth-child(26) {
    animation-delay: 5.0s;
}

#bigfuckingtext span:nth-child(27) {
    animation-delay: 5.2s;
}

#bigfuckingtext span:nth-child(28) {
    animation-delay: 5.4s;
}

#bigfuckingtext span:nth-child(29) {
    animation-delay: 5.6s;
}

#bigfuckingtext span:nth-child(30) {
    animation-delay: 5.8s;
}

#bigfuckingtext span:nth-child(31) {
    animation-delay: 6.0s;
}

#bigfuckingtext span:nth-child(32) {
    animation-delay: 6.2s;
}

#bigfuckingtext span:nth-child(33) {
    animation-delay: 6.4s;
}

#bigfuckingtext span:nth-child(34) {
    animation-delay: 6.6s;
}

#bigfuckingtext span:nth-child(35) {
    animation-delay: 6.8s;
}

#bigfuckingtext span:nth-child(36) {
    animation-delay: 7.0s;
}

#bigfuckingtext span:nth-child(37) {
    animation-delay: 7.2s;
}

#bigfuckingtext span:nth-child(38) {
    animation-delay: 7.4s;
}

@keyframes rainbow {
    0% {
        color: orange;
    }
    10% {
        color: purple;
    }
    20% {
        color: red;
    }
    30% {
        color: CadetBlue;
    }
    40% {
        color: yellow;
    }
    50% {
        color: coral;
    }
    60% {
        color: green;
    }
    70% {
        color: cyan;
    }
    80% {
        color: DeepPink;
    }
    90% {
        color: DodgerBlue;
    }
    100% {
        color: orange;
    }
}


/* awful hack to make svg images animated in color*/

@keyframes rainbow-filter {
    0% {
        filter: invert(73%) sepia(24%) saturate(7473%) hue-rotate(1deg) brightness(105%) contrast(104%);
    }
    10% {
        filter: invert(8%) sepia(84%) saturate(7296%) hue-rotate(298deg) brightness(80%) contrast(104%);
    }
    20% {
        filter: invert(9%) sepia(94%) saturate(7481%) hue-rotate(2deg) brightness(113%) contrast(109%);
    }
    30% {
        filter: invert(64%) sepia(4%) saturate(3574%) hue-rotate(133deg) brightness(90%) contrast(82%);
    }
    40% {
        filter: invert(96%) sepia(53%) saturate(2606%) hue-rotate(357deg) brightness(106%) contrast(103%);
    }
    50% {
        filter: invert(67%) sepia(44%) saturate(2397%) hue-rotate(323deg) brightness(98%) contrast(107%);
    }
    60% {
        filter: invert(66%) sepia(70%) saturate(6020%) hue-rotate(93deg) brightness(123%) contrast(132%);
    }
    70% {
        filter: invert(77%) sepia(96%) saturate(2220%) hue-rotate(117deg) brightness(106%) contrast(104%);
    }
    80% {
        filter: invert(25%) sepia(66%) saturate(5682%) hue-rotate(316deg) brightness(103%) contrast(106%);
    }
    90% {
        filter: invert(54%) sepia(85%) saturate(4565%) hue-rotate(195deg) brightness(104%) contrast(101%);
    }
    100% {
        filter: invert(73%) sepia(24%) saturate(7473%) hue-rotate(1deg) brightness(105%) contrast(104%);
    }
}

@keyframes wave {
    50% {
        transform: translate(0, -40%) scale(1.75, 1.75) rotate(0turn);
    }
}

@keyframes scrollanim {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}