.tunesplayer {
    color: burlywood;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    border-color: #7a654a;
    height: auto;
    line-height: 100%;
    animation: none;
    font-family: monospace;
    margin: 10px 0 0 0;
}

#mutebutton {
    font-size: 16px;
    margin: 0 0 0 0;
}

#playbutton {
    font-size: 32px;
    margin: 0 20px 0 0;
}

#playbutton:hover {
    background-color: #7a654a;
    border-radius: 3px;
    cursor: pointer;
}


/*generated with Input range slider CSS style generator (version 20211219)
https://toughengineer.github.io/demo/slider-styler*/

input[type=range].styled-slider {
    background-color: transparent;
    -webkit-appearance: none;
    height: 100%;
    margin: 0 0 0 0;
}


/*webkit*/


/*generated with Input range slider CSS style generator (version 20211219)
https://toughengineer.github.io/demo/slider-styler*/


/*progress support*/

input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 1em + var(--ratio) * (100% - 1em));
}

input[type=range].styled-slider:focus {
    outline: none;
}


/*webkit*/

input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background: burlywood;
    border: none;
    box-shadow: none;
    margin-top: calc(1em * 0.5 - 1em * 0.5);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 1em;
    border: none;
    border-radius: 0.5em;
    background: #555;
    box-shadow: none;
}

input[type=range].styled-slider::-webkit-slider-thumb:active {
    background: #7a654a;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(burlywood, burlywood) 0/var(--sx) 100% no-repeat, #555;
}

input[type=range].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
    background: linear-gradient(#7a654a, #7a654a) 0/var(--sx) 100% no-repeat, #555;
}


/*mozilla*/

input[type=range].styled-slider::-moz-range-thumb {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background: burlywood;
    border: none;
    box-shadow: none;
}

input[type=range].styled-slider::-moz-range-track {
    height: 1em;
    border: none;
    border-radius: 0.5em;
    background: #555;
    box-shadow: none;
}

input[type=range].styled-slider::-moz-range-thumb:active {
    background: #7a654a;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(burlywood, burlywood) 0/var(--sx) 100% no-repeat, #555;
}

input[type=range].styled-slider.slider-progress:active::-moz-range-track {
    background: linear-gradient(#7a654a, #7a654a) 0/var(--sx) 100% no-repeat, #555;
}


/*ms*/

input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background: burlywood;
    border: none;
    box-shadow: none;
    margin-top: 0;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
    height: 1em;
    border-radius: 0.5em;
    background: #555;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-thumb:active {
    background: #7a654a;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: 1em;
    border-radius: 0.5em 0 0 0.5em;
    margin: -undefined 0 -undefined -undefined;
    background: burlywood;
    border: none;
    border-right-width: 0;
}

input[type=range].styled-slider.slider-progress:active::-ms-fill-lower {
    background: #7a654a;
}