html {
    height: 100vh;
}

body {
    background-color: black;
    /*background-image:url('bg1.gif');*/
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100vh;
    margin: 0 0 0 0;
}

#bigfuckingtext {
    font: /*small-caps*/
    bold italic 2.5vw sans-serif;
}

#bigfuckingtext span {
    display: inline-block;
    animation: rainbow 7s normal forwards, wave 7s normal forwards;
    transform: rotate(-0.1turn) scale(0.01, 0.01);
}

#tunestext {
    color: BurlyWood;
    font: bold italic 24px/1 sans-serif;
}

.table {
    color: BurlyWood;
    font: 16px/1 sans-serif;
}

#toggleVis {
    color: BurlyWood;
    font: 12px/1 sans-serif;
    margin-bottom: 5px;
    cursor: pointer;
}

.modarchivelink {
    color: BurlyWood;
    font: bold 20px/1 sans-serif;
    text-align: center;
    text-decoration: solid;
    margin-top: 5px;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

audio.tunes {
    margin-top: 10px;
    margin-bottom: 5px;
}

#leftblock {
    height: 97%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#leftblock p {
    flex: 0 1;
    margin: 0 0 0 0;
}

#lowbox {
    height: 3%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#scrollbox {
    overflow: hidden;
    flex: 1 1;
}

.statustext {
    white-space: pre;
    color: BurlyWood;
    /*transform: translateX(100%);
  animation: scrollanim 45s linear infinite;*/
    font: 12px/1 monospace;
}

#scrolltext {
    white-space: pre;
    color: BurlyWood;
    transform: translateX(100%);
    animation: scrollanim 45s linear infinite;
    font: 12px/1 monospace;
}

#tunesVisualizer {
    height: 100%;
    position: fixed;
    pointer-events: none;
    display: block;
    z-index: -1;
}